In [118]:
my_list = [1,2,3]

In [119]:
my_list = ["string",124,23.2]

In [120]:
len(my_list)  #Length of the list

3

In [121]:
my_list = ["one","two","three"]

In [122]:
my_list[0]    #Grabbing the 0th poisition value

'one'

In [123]:
my_list[1:]     #from 1st position to end

['two', 'three']

In [124]:
my_list

['one', 'two', 'three']

In [125]:
other_list = ["four","five"]

In [126]:
new_list=my_list + other_list    #concatenating two lists

In [127]:
new_list

['one', 'two', 'three', 'four', 'five']

In [128]:
new_list[0]="no one"      #changing the values in list

In [129]:
new_list

['no one', 'two', 'three', 'four', 'five']

In [130]:
new_list.append("six")    #adding the value to list in last position

In [131]:
new_list

['no one', 'two', 'three', 'four', 'five', 'six']

In [132]:
new_list.pop()   #removing last position value

'six'

In [133]:
new_list

['no one', 'two', 'three', 'four', 'five']

In [134]:
popped_item = new_list.pop(0)

In [135]:
new_list

['two', 'three', 'four', 'five']

In [136]:
new_list =["a","k","i","o","u","s"]

In [137]:
num_list = [2,5,5,4,3,4]

In [138]:
new_list.sort()   #arranging in order

In [139]:
new_list

['a', 'i', 'k', 'o', 's', 'u']

In [140]:
num_list.sort()

In [141]:
num_list

[2, 3, 4, 4, 5, 5]

In [142]:
num_list.reverse()   # Reverseing

In [143]:
num_list

[5, 5, 4, 4, 3, 2]

In [144]:
num_list.index(2)        # finding the index position of 2

5

In [145]:
num_list.count(4)      #finding the no.of "4" in list

2

In [146]:
num_list.extend("g")   # extend "g" only string

In [147]:
num_list

[5, 5, 4, 4, 3, 2, 'g']

In [148]:
num_list.insert(2,4)   # inseerting at position 2 value 4 in the list

In [149]:
num_list

[5, 5, 4, 4, 4, 3, 2, 'g']