# Set

In [63]:
my_set = {1,2,3,4,5,5}  # Sets won't repeat the duplicates
print(my_set)

{1, 2, 3, 4, 5}

In [64]:
your_set = {4,5,6,7,8,9,10}

In [66]:
my_set.difference(your_set)   #Diff in two sets

{1, 2, 3}

In [67]:
print(my_set.discard(5))   # removing 5

None

In [68]:
print(my_set)

{1, 2, 3, 4}

In [69]:
print(my_set.difference_update(your_set))   #removing same values in my_set

None

In [70]:
my_set

{1, 2, 3}

In [71]:
my_set = {1,2,3,4,5,}
your_set = {4,5,6,7,8,9,10}
print(my_set.intersection(your_set))
print(my_set & your_set)

{4, 5}
{4, 5}

In [72]:
print(my_set.isdisjoint(your_set))

False

In [73]:
my_set = {1,2,3}
your_set = {4,5,6,7,8,9,10}
print(my_set.isdisjoint(your_set))

True

In [74]:
my_set.union(your_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [75]:
print(my_set | your_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [76]:
my_set.issubset(your_set)

False

In [77]:
my_set = {4,5}
your_set = {4,5,6,7,8,9,10}
my_set.issubset(your_set)

True

In [78]:
print(my_set.issuperset(your_set))

False

In [79]:
print(your_set.issuperset(my_set))

True